@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slow-zoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.animate-slow-zoom {
  animation: slow-zoom 20s ease-out infinite alternate;
}